li {
    list-style: inside;
}

ol, ul {
    margin: 0;
    padding: 0;

    ol, ul {
        margin-left: 20px;
    }

    &:not(:first-child) {
        margin-bottom: 10px;
    }
}

body, h1, h2, h3, h4, h5, h6, textarea, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

form {
    width: 100%;
}

.p-icon {
    margin-right: 10px;
}

.p-steps.p-component.p-readonly {
    width: 100%;

    .p-menuitem-link {
        background: transparent;
    }
}

.p-tabview.p-component {
    width: 75%;
}