li {
    list-style: inside;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
textarea,
p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

form {
    width: 100%;
}

.p-icon {
    margin-right: 10px;
}

.p-steps.p-component.p-readonly {
    width: 100%;

    .p-menuitem-link {
        background: transparent;
    }
}

.p-tabview.p-component {
    width: 75%;
}

.p-breadcrumb {
    padding: 0;
    border: none;
    background: transparent;
}

.p-menuitem,
.p-breadcrumb-home {
    list-style: none;
}

.p-menuitem-link {
    &:link,
    &:visited {
        color: var(--primary-color);
        text-decoration: none;
    }
}

.p-inputwrapper {
    width: 100%;
}

.p-dropdown-items-wrapper {
    width: 400px;
}

.p-dropdown-items {
    overflow: auto;
}

.p-dropdown-item {
    list-style: none;
}
