.Button {
    cursor: pointer;
    padding: 15px 30px;
    border-radius: 5px;
    color: var(--button-text-color);
    background: var(--button-bg-color);
    font: var(--font-m);
    transition: 200ms;

    &:hover {
        background: var(--bg-color);
    }

    &:active {
        outline: 1px solid var(--primary-color);
    }

    &:focus {
        box-shadow: 1px 1px 4px black;
    }
}

.maxW {
    width: 100%;
}

.telegram {
    background: linear-gradient(160.36deg, #2aabee 18.31%, #229ed9 81.69%);
}

.donorSearch {
    padding: 20px 30px;
    color: var(--donor-search-color);
    background: #fff;
}

.danger {
    color: var(--primary-color);
    background: var(--donor-search-color);
}

.warning {
    color: var(--primary-color);
    background: #f8a917;
}

.clear {
    margin: 0;
    padding: 5px;
    border: none;
    border-radius: 0;
    background: transparent;
    outline: none;

    &:hover {
        padding: 5px;
        border-radius: 6px;
        background: lightgrey;
    }

    &:active {
        outline: none;
    }

    &:focus {
        box-shadow: none;
    }
}
