.breadcrumbIcon {
    width: 20px;
    height: 20px;
    color: #6c6c6c;
}

.stations {
    margin-top: 20px;
}

.uploadButton {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

.submitButton {
    align-self: stretch;
    margin-top: 330px;
}