:root {
    --bg-color: #17212b;
    --inverted-bg-color: #000;

    // текст
    --primary-color: #fff;
    --inverted-primary-color: #383838;
    --button-text-color: #fff;
    --button-bg-color: #31b545;
    --donor-search-color: #ff2a23;

    // вторичный цвет
    --secondary-color: var(--tg-theme-hint-color) #c9c9c9;
    --inverted-secondary-color: #04ff04;

    // линки
    --link-color: var(--tg-theme-link-color) var(--secondary-color);
}
