.Navbar {
    width: 100%;
    height: var(--navbar-heigth);
    background: var(--bg-color);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    width: 200px;
    height: 42px;
    overflow: visible;
}

@media (width <= 768px) {
    .Navbar {
        padding: 20px 20px;
    }

}

.button {
    padding: 5px 10px;
}
