.Navbar {
    width: 100%;
    height: var(--navbar-heigth);
    padding: 0 100px;
    background: var(--bg-color);
    position: sticky;
    top: 0;
}

@media (width <= 768px) {
    .Navbar {
        padding: 0 50px;
    }

}